<!DOCTYPE html>
<html>
	<head>
		<title>鑫港人力资源有限公司</title>
		<link href="/WebSite/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/WebSite/static/bootstrap/dist/css/nav-justified.css" rel="stylesheet">
		<script src="/WebSite/static/jquery/jquery.min.js"></script>
		<script src="/WebSite/static/bootstrap/dist/js/bootstrap.min.js"></script>
        @RenderSection("Head",false)
	</head>
	<body>
		@RenderBody()
	</body>
</html>