@{
    Layout = "Shared/_Layout.cshtml";
}

@section head
{
    <script>
        
        //加载图片轮转
        app.controller("baseShowController", [
            '$scope', '$http', function ($scope, $http) {
                var picUrl = "../Api/Cms/CmsPagePicture/GetPictureByCode?code=baseshow";
                $http.post(picUrl).success(function (data) {
                    var temp = new Array();
                    angular.forEach(data.images, function (item) {
                        temp.push({
                            path: item.PicPath,
                            index: temp.length,
                            cls: temp.length === 0 ? "item active" : "item"
                        });
                    });
                    $scope.images = temp;
                });
            }
        ]);
       

        //联系我们 
        app.controller("contactController", [
            '$scope', '$http', '$sce', function ($scope, $http, $sce) {
                var pageinfoUrl = "../Api/Cms/CmsChannel/GetChannelByCode?code=Contact";
                $http.post(pageinfoUrl).success(function (data) {
                    $scope.ChannelName = data.ChannelName;
                    $scope.ChannelCode = data.ChannelCode;
                    $scope.PageContent = $sce.trustAsHtml(data.PageContent);
                });
            }
        ]);

        app.controller("productListController", [
          '$scope', '$http', '$sce', function ($scope, $http, $sce) {
              function OpenProduct(code) {
                  window.location.href = 'Products?id=' + code;
              }

              this.click = OpenProduct;
              var productListUrl = "../Api/Cms/CmsPage/GetClassifyListByChannelCode?code=Products";
              $http.post(productListUrl).success(function (data) {
                  var temp = new Array();
                  angular.forEach(data, function (item) {
                      temp.push({
                          Name: item.Name,
                          Code: item.Code,
                          PageContent: $sce.trustAsHtml(item.PageContent)
                      });
                  });
                  $scope.ProductTypeList = temp;
              });
          }
        ]);
    </script>



}


<div  class="container"   style="height: auto; margin-top: 10px">
    <div class="row">
        <div class="col-md-3">
           <div ng-controller="productListController as productList"  class="panel panel-default" style="height: auto; min-height: 290px">
              <div class="panel-body">
                  <div style="border-bottom: 1px solid #dbdbdb; margin: 5px 5px;"><span class="glyphicon glyphicon-leaf">&nbsp;<b>产品分类</b></span>
                    </div>
                    <ul class="media-list">
                        <li class="media">
                           <div ng-repeat="productType in ProductTypeList" class="col-md-6">
                               <div ng-click="productList.click(productType.Code)">
                                   <div style="cursor:pointer" ng-bind-html="productType.PageContent" class="thumbnail"></div> 
                               </div>  
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
             <div ng-controller="contactController"  class="panel panel-default" style="height: auto; min-height: 290px;background-image: url('/Scripts/static/img/contact.jpg')">
                 <div class="panel-heading"><span class="glyphicon glyphicon-comment">&nbsp;<b>{{ChannelName}}</b></span></div>
                 <div ng-bind-html="PageContent" class="panel-body">
                        
                 </div>
            </div>
        </div>
        <div ng-controller="baseShowController as baseShow" class="col-md-9">
            <div class="panel panel-default" style="height: auto; min-height: 600px">
                <div class="panel-heading"><span class="glyphicon glyphicon-comment">&nbsp;<b>基地展示</b></span></div>
                <div class="panel-body">
                 <!-- 图片轮转 -->
                
                        <div id="carousel-baseshow" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li ng-repeat="image in images" data-target="#carousel-baseshow" data-slide-to="{{image.index}}" class=""></li>
                            </ol>
                            <div class="carousel-inner" style="height: 500px">
                                <div ng-repeat="image in images" class="{{image.cls}}">
                                    <img ng-src="{{image.path}}" />
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-baseshow" data-slide="prev"></a>
                            <a class="right carousel-control" href="#carousel-baseshow" data-slide="next"></a>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>
