@{
    Layout = "Shared/_Layout.cshtml";
}
@section head
{
    <script>

        app.controller("onlineController", [
            '$scope', '$http', function ($scope, $http) {
               
                this.submit = function () {
                    $http.post("../Api/Cms/CmsPage/GetOnline", {
                        name: $scope.name,
                        telephone: $scope.telephone,
                        email: $scope.email,
                        product: $scope.product,
                        Remark: $scope.Remark,
                        address: $scope.address
                    }).success(function (data) {
                        console.log(data);
                    });
                }
                this.reset = function () {

                    $scope.name = "";
                    $scope.telephone = "";
                    $scope.email = "";
                    $scope.product = "";
                    $scope.Remark = "";
                    $scope.address= "";
                  
                }
            }
        ]);

        //联系我们 
        app.controller("contactController", [
            '$scope', '$http', '$sce', function ($scope, $http, $sce) {
                var pageinfoUrl = "../Api/Cms/CmsChannel/GetChannelByCode?code=Contact";
                $http.post(pageinfoUrl).success(function (data) {
                    $scope.ChannelName = data.ChannelName;
                    $scope.ChannelCode = data.ChannelCode;
                    $scope.PageContent = $sce.trustAsHtml(data.PageContent);
                });
            }
        ]);
    </script>



}


<div class="container" style="height: auto; margin-top: 10px">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default" style="height: auto; min-height: 290px">
                <div class="panel-heading"><span class="glyphicon glyphicon-comment">&nbsp;<b></b></span></div>

            </div>
            <div ng-controller="contactController" class="panel panel-default" style="height: auto; min-height: 290px; background-image: url('static/img/contact.jpg')">
                <div class="panel-heading"><span class="glyphicon glyphicon-comment">&nbsp;<b>{{ChannelName}}</b></span></div>
                <div ng-bind-html="PageContent" class="panel-body">
                </div>
            </div>
        </div>
        <div ng-controller="onlineController as online" class="col-md-9">
            <div class="panel panel-default" style="height: auto; min-height: 600px">
                <div class="panel-heading"><span class="glyphicon glyphicon-comment">&nbsp;<b>在线订单</b></span></div>
                <div class="panel-body">
                    <div class="page">
                        <form class="form-horizontal" role="form">
                            <fieldset>
                                <legend class="text-box text-center text-danger">非常感谢您购买我们的产品，请填好下面的表格，我们会尽快与您联系。</legend>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="name">姓名</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="name" id="name" type="text" placeholder="请输入您的姓名" />
                                    </div>
                                    <div class="col-sm-1">
                                        *
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="telephone">电话</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="telephone" id="telephone" type="text" placeholder="请输入您的电话" />
                                    </div>
                                    <div class="col-sm-1">
                                        *
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="email">Email</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="email" id="email" type="text" placeholder="请输入您的Email" />
                                    </div>
                                    <div class="col-sm-1">
                                        *
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="product">产品名称</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="product" id="product" type="text" placeholder="您要订购的产品" />
                                    </div>
                                    <div class="col-sm-1">
                                        *
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Remark">备注信息</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="Remark" id="Remark" type="text" placeholder="订购说明" />
                                    </div>
                                    <div class="col-sm-1">
                                        *
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="address">送货地址</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="address" id="address" type="text" placeholder="请输入送货地址" />
                                    </div>
                                    <div class="col-sm-1">
                                        *
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-sm-9 text-right">
                                        <button type="button" class="btn btn-default" ng-click="online.submit()">提交</button>
                                        <button type="button" class="btn btn-default" ng-click="online.reset()">重置</button>
                                    </div>

                                </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
