@{
    ViewBag.Title = "字典管理";
}
<style>
    .iconwidth {
        width:16px;
        height:16px;
        margin:1px;
        display: inline-block;
    }
</style>
 
<script type="text/javascript">
    var pid;
    var iconCombox = new Ext.form.ComboBox({
        //fieldLabel: '图标',
        store: new Ext.data.JsonStore({
            url: '/Api/Menu/GetMenuIcon?path='+"@Server.UrlEncode( Server.MapPath(Com.XXXX.Class.ConstHelper.IconPath))",
            storeId: 'myStore',
            autoDestroy: true,
            idProperty: 'name',
            fields:['name'],
        }),
        tpl: '<tpl for="."><span class="iconwidth  {name}" value="{name}" onclick="seticon(this)">&nbsp;&nbsp;</span></tpl>',
        //tpl: '<tpl for="."><div x-combo-list-item :qtip="{url}" class="x-combo-list-item"><img src="{url}" width="16px" height="16px">&nbsp;{name}</div></tpl>',
        //tpl :'<table><tr><tpl for="."><td class="x-combo-list-item"><img width=16 height=16 src="{url}" /></td><tpl if="xindex % 3 === 0"></tr><tr></tpl></tpl></tr></table>',
        triggerAction: 'all',
        emptyText: '请选择图标...',
        name: 'iconCls',
        width: 300,
    });
    function seticon(span) {
        var type=Ext.get(span).dom.attributes.value.value;
        //"<span class='iconwidth " + type + "' value='" + type + "'>&nbsp;&nbsp;</span>"
        //console.log(Ext.get(span).dom.attributes.value.value)
        iconCombox.setValue(type);
        Ext.getCmp("iconimage").addClass(type);
        console.log(Ext.getCmp("iconimage"));
       // Ext.getCmp("iconimage").removeClass(iconCombox.getValue())
       // iconCombox.getValue()
    }
    var addform = new Ext.FormPanel({
        buttonAlign: 'center',
        id: "addform",
        labelAlign: "right",
        plain: true,
        anchor: '100% 100%',
        layout: "anchor",
        frame: true,
        reader: new Ext.data.JsonReader(
            { successProperty: 'success', root: 'message' },
            ['ID', 'PDictionaryID', 'Code', 'Title', 'Value', 'Sort', 'iconCls', 'Desc']
         ),
        defaults: { margins: '0 5 0 0' },
        title: "字典信息",
        items: [
            {
                xtype: 'fieldset',
                collapsible: false,
                anchor: '100% 100%',
                items: [{
                    xtype: "hidden",
                    name: "PDictionaryID",
                    id: "pid"
                },
                {
                    xtype: "hidden",
                    name: "ID",
                    id:'id'
                }, {
                    xtype: "textfield",
                    name: "Code",
                    fieldLabel: '字典代码',
                },
                    {
                        fieldLabel: '字典键',
                        name: 'Title',
                        xtype: 'textfield',
                        width: 300
                    }, {
                        fieldLabel: '字典值',
                        name: 'Value',
                        xtype: 'textfield',
                        width: 300
                    }, {
                        fieldLabel: '字典排序',
                        name: 'Sort',
                        xtype: 'textfield',
                        width: 300
                    }, {
                        xtype: 'compositefield',
                        fieldLabel: '图标',
                        items: [
                            iconCombox,
                            { xtype: 'displayfield', id:"iconimage" },
                        ]
                    }, //iconCombox,
                    {
                        fieldLabel: '备注',
                        xtype: 'textarea',
                        name: "Desc",
                        height: 150,
                        anchor: '95%'
                    }
                ]
            }
        ], buttons: [{
            xtype: "button",
            text: "新增子项",
            id: 'subadd',
            style: "float:right",
            handler: function () {
                addform.form.reset();
                Ext.getCmp("pid").setValue(pid);
                console.log(pid)
                Ext.getCmp("update").hide();
                Ext.getCmp("subadd").hide();
                Ext.getCmp("add").show();
                Ext.getCmp("return").show()
                Ext.getCmp("reset").show()
            }
        }, {
            xtype: "button",
            text: "更新",
            id:"update",
            style: "float:right",
            handler: function () {
                addform.getForm().submit({
                    url: '/Api/Dictionary/' + Ext.getCmp("id").getValue(),
                    method: "Put",
                    waitTitle: '请等待',
                    waitMsg: '正在提交中',
                    success: function (form, action) {
                        //url后台返回的数据{success:true,message:'成功'}	
                        //console.log(action)
                        Ext.Msg.alert('提示', action.result.message);
                    },
                    failure: function (form, action) {
                        Ext.Msg.alert('提示', action.result.message);
                    }
                });
            }
        }, {
            xtype: "button",
            text: "新增",
            hidden:true,
            id: "add",
            style: "float:right",
            handler: function () {
                addform.getForm().submit({
                    url: '/Api/Dictionary/',
                    method: "Post",
                    waitTitle: '请等待',
                    waitMsg: '正在提交中',
                    success: function (form, action) {
                        //url后台返回的数据{success:true,message:'成功'}	
                        //console.log(action)
                        Ext.Msg.alert('提示', action.result.message);
                    },
                    failure: function (form, action) {
                        Ext.Msg.alert('提示', action.result.message);
                    }
                });
            }
        }, {
            xtype: "button",
            text: "返回",
            id: "return",
            hidden: true,
            style: "float:right",
            handler: function () {
                addform.form.reset();
                Ext.getCmp("update").show();
                Ext.getCmp("subadd").show();
                Ext.getCmp("add").hide();
                Ext.getCmp("return").hide();
                Ext.getCmp("reset").hide();
                addform.form.load({
                    url: '@Url.Content("/Api//Dictionary/GetForm/")' + pid,
                    method: "Get",
                    waitMsg: 'Loading'
                });
            }
        }, {
            xtype: "button",
            text: "重置",
            id: "reset",
            hidden: true,
            style: "float:right",
            handler: function () {
                addform.form.reset();
                Ext.getCmp("pid").setValue(pid);
            }
        }]
    });

    Ext.onReady(function () {
        Ext.QuickTips.init();
        new Ext.Viewport({
            title: "Viewport",
            layout: "border",
            defaults: {
                bodyStyle: "background-color: #FFFFFF;",
            },
            items: [
                        {
                            region: 'west',
                            title: '字典信息',
                            xtype: 'treepanel',
                            width: 200,
                            autoScroll: true,
                            loader: new Ext.tree.TreeLoader({
                                url: '/Api/Dictionary/GetDictionaryTree?id=null'
                            }),
                            root: new Ext.tree.AsyncTreeNode({
                                expanded: true,
                            }),
                            rootVisible: false,
                            listeners: {
                                click: function (node) {
                                    pid = node.id;
                                    Ext.getCmp("update").show();
                                    Ext.getCmp("subadd").show();
                                    Ext.getCmp("add").hide();
                                    Ext.getCmp("return").hide();
                                    Ext.getCmp("reset").hide();
                                    addform.form.load({
                                        url: '@Url.Content("/Api//Dictionary/GetForm/")' + node.id,
                                        method:"Get",
                                        waitMsg: 'Loading'
                                    });
                                    @*//加载页面数据
                                        Ext.Ajax.request({
                                            url: '@Url.Content("/Api//Dictionary/")' + node.id,
                                            method: "Get",
                                            success: function (response) {
                                                var jsonData = Ext.util.JSON.decode(response.responseText);
                                               addform.loa
                                            }
                                        });*@
                                }
                            }
                        },
                        {
                            region: "center",
                            id: "panel1",
                            split: true,
                            border: false,
                            collapsible: false,
                            xtype: "panel",
                            layout: "anchor",
                            autoScroll: true,
                            items: [addform]
                            //items: [{
                            //    html: '<iframe id ="contentIframe" frameborder="0" height="100%" width="100%" src="/Admin/Organization/OrganizationManage"></iframe>'
                            //}]
                        }

            ]
        });
        
    });
 
</script>
