<!-- 公司简介 -->
<div class="panel panel-default" style="height: 250px">
    <div class="panel-body">
        <div style="border-bottom: 1px solid #dbdbdb; margin: 5px 5px"><b>公司简介</b></div>
        <ul class="media-list">
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" style="height: 150px; width: 200px; float: left" src="/WebSite/static/img/company1.jpg">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"></h4>
                    鑫港人力资源服务有限公司，是经河南省人社厅备案，市人社局批准的，尉氏县首家具有劳务派遣资质的人力资源服务公司
                </div>
            </li>
        </ul>
    </div>
 </div>