<style>
    .footer {
        background: #007ACC;
        height: 50px;
        line-height: 24px;
        padding: 15px 0;
        text-align: center;
    }

        .footer a {
            color: #000;
        }
</style>
<footer class="footer">
    <small>
        <span style="float: left;margin-left:100px">

                <a href="">首页</a> |
                <a href="">公司简介</a> |
                <a href="">经营范围</a> | 
                <a href="">新闻动态</a> | 
                <a href="">基地展示</a> | 
                <a href="">联系我们</a> | 
                <a href="">在线订单</a>
        </span>
        <span style="float: right;margin-right:100px">版权所有<span>©</span><a href="#" title="鑫港人力资源股份有限公司">鑫港人力资源股份有限公司</a></span>
    </small>
</footer>
