<!-- 新闻列表 -->
<div class="panel panel-default">
    <div class="panel-body" style="height: 250px">
        <div style="border-bottom: 1px solid  #dbdbdb"><b>新闻动态</b></div>
        <div style="border-bottom: 1px dashed #cacaca; margin: 5px 5px">
            <span>
                <i style="background-color: #3A6EA5; color: white; border-radius: 4px; padding-left: 3px; padding-right: 3px; margin-left: 5px; margin-right: 5px">1</i>
            </span>
            <span style=""><small>某某领到来视察</small></span>
            <span class="num" style="float: right"><small><a href="#">更多...</a></small></span>
        </div>
        <div style="border-bottom: 1px dashed #cacaca; margin: 5px 5px">
            <span>
                <i style="background-color: #3A6EA5; color: white; border-radius: 4px; padding-left: 3px; padding-right: 3px; margin-left: 5px; margin-right: 5px">2</i>
            </span>
            <span style=""><small>某某领到来观光</small></span>
            <span class="num" style="float: right"><small><a href="#">更多...</a></small></span>
        </div>
    </div>
</div>
