<div class="panel panel-default">
    <div class="panel-body">
        <div style="border-bottom: 1px solid #dbdbdb; margin: 5px 5px"><b>产品列表</b></div>

        <div style="padding: 0px">
            <script src="/WebSite/static/jquery/productroll10.js"></script>
            <link href="/WebSite/static/css/productroll10.css" rel="stylesheet" />
            <div class="productlistx">

                <div id="listx" class="blkproductlistx">
                    <div class="LeftButton" id="LeftArr1"></div>
                    <div class="Cont" id="ISL_Cont_11" style="overflow: hidden;">
                        <div class="box">
                            <div class="fang">
                                <img src="/WebSite/static/img/picscroll/01.jpg" width="150px" height="110px"></a>
                            </div>
                            <a href="" target="_self" class="prodtitle">产品应用案例</a>
                        </div>
                        <div class="box">
                            <div class="fang">
                                <img src="/WebSite/static/img/picscroll/02.jpg" width="150px" height="110px"></a>
                            </div>
                            <a href="" target="_self" class="prodtitle">产品应用案例</a>
                        </div>
                        <div class="box">
                            <div class="fang">
                                <a href="product/html/?92.html" target="_self">
                                    <img src="/WebSite/static/img/picscroll/03.jpg" width="150px" height="110px"></a>
                            </div>
                            <a href="" target="_self" class="prodtitle">产品应用案例</a>
                        </div>
                        <div class="box">
                            <div class="fang">
                                <a href="product/html/?91.html" target="_self">
                                    <img src="/WebSite/static/img/picscroll/04.jpg" width="150px" height="110px" /></a>
                            </div>
                            <a href="" target="_self" class="prodtitle">产品应用案例</a>
                        </div>
                        <div class="box">
                            <div class="fang">
                                <a href="product/html/?91.html" target="_self">
                                    <img src="/WebSite/static/img/picscroll/06.jpg" width="150px" height="110px" /></a>
                            </div>
                            <a href="" target="_self" class="prodtitle">产品应用案例</a>
                        </div>
                        <div class="box">
                            <div class="fang">
                                <a href="product/html/?91.html" target="_self">
                                    <img src="/WebSite/static/img/picscroll/07.jpg" width="150px" height="110px" /></a>
                            </div>
                            <a href="" target="_self" class="prodtitle">产品应用案例</a>
                        </div>
                    </div>
                    <div class="RightButton" id="RightArr1"></div>
                    <script type="text/javascript">
                                <!--//--><![CDATA[//><!--
                                var scrollPic_03 = new ScrollPic();
                                scrollPic_03.scrollContId = "ISL_Cont_11"; //内容容器ID
                                scrollPic_03.arrLeftId = "LeftArr1";//左箭头ID
                                scrollPic_03.arrRightId = "RightArr1"; //右箭头ID
                                scrollPic_03.frameWidth = 10000;//显示框宽度
                                scrollPic_03.pageWidth = 159; //翻页宽度
                                scrollPic_03.speed = 10; //移动速度(单位毫秒，越小越快)
                                scrollPic_03.space = 10; //每次移动像素(单位px，越大越快)
                                scrollPic_03.autoPlay = true; //自动播放
                                scrollPic_03.autoPlayTime = 3; //自动播放间隔时间(秒)
                                scrollPic_03.initialize(); //初始化
                                //--><!]]>
                    </script>
                </div>

            </div>

        </div>
    </div>
</div>
