@{
    ViewBag.Title = "Index";
}

<style>
    .itemscls {
        margin-top: 40px;
        margin-bottom:40px;
    }
</style>



<script type="text/javascript">

    var form1 = new Ext.FormPanel({
        buttonAlign: 'center',
        id:"orgform",
        labelAlign: "right",
        hidden: true,
        plain: true,
        anchor: '100% 100%',
        layout:"anchor",
        frame:true,
        defaults: { margins: '0 5 0 0' },
        title: "组织机构信息",
        items: [
            {
                xtype: 'fieldset',
                collapsible: false,
                anchor:'100% 100%',
                items: [
                    {
                        fieldLabel: '名称',
                        name: 'Name',
                        xtype: 'textfield',
                        width: 300
                    }, {
                        fieldLabel: '类型',
                        name: 'OrgType',
                        xtype: 'combo',
                        //本地数据源  local/remote
                        mode: 'local',
                        //设置为选项的text的字段
                        displayField: "Name",
                        //设置为选项的value的字段 
                        valueField: "Id",
                        //是否可以输入，还是只能选择下拉框中的选项
                        editable: false,
                        typeAhead: true,
                        //必须选择一项
                        forceSelection: true,
                        //输入部分选项内容匹配的时候显示所有的选项
                        triggerAction: 'all',
                        //selectOnFocus:true,
                        //数据
                        store: new Ext.data.SimpleStore({
                            fields: ['Id', 'Name'],
                            data: [[1, '单位'], [2, '部门'], [3, '岗位']],
                        }),
                        width: 300
                    }, {
                        fieldLabel: '状态',
                        name: 'InUse',

                        xtype: 'combo',
                        //本地数据源  local/remote
                        mode: 'local',
                        //设置为选项的text的字段
                        displayField: "Name",
                        //设置为选项的value的字段 
                        valueField: "Id",
                        //是否可以输入，还是只能选择下拉框中的选项
                        editable: false,
                        typeAhead: true,
                        //必须选择一项
                        forceSelection: true,
                        //输入部分选项内容匹配的时候显示所有的选项
                        triggerAction: 'all',
                        //selectOnFocus:true,
                        //数据
                        store: new Ext.data.SimpleStore({
                            fields: ['Id', 'Name'],
                            data: [[1, '启用'], [2, '停用']],
                          
                        }),
                        width: 300
                    }, {
                        fieldLabel: '备注',
                        xtype: 'textarea',
                        name: "Remark",
                        height: 150,
                        anchor: '95%'
                    }
                ]
            }
        ], buttons: [{
            xtype: "button",
            text: "保存",
            style: "float:right"
        }, {
            xtype: "button",
            text: "取消",
            style: "float:right"
        }]
    });
    var form2 = new Ext.FormPanel({
        buttonAlign: 'center',
        id: "userform",
        defaults: { margins: '0 5 0 0' },
        anchor: '100% 100%',
        layout: "anchor",
        plain: true,
        hidden: true,
        frame: true,
        labelAlign: "right",
        title: "用户信息",
        hidden:true,
        items: [{
            xtype: 'fieldset',
            collapsible: false,
            anchor: '100% 100%',
            labelWidth: 75,
            items: [
                 {
                     fieldLabel: '真实姓名',
                     name: 'RealName',
                     xtype: 'textfield',
                     width:300
                    
                 }, {
                     fieldLabel: '用户名',
                     xtype: 'textfield',
                     name: "UserName",
                    
                     width:300
                 }, {
                     fieldLabel: '入职时间',
                     xtype: 'textfield',
                     name: "OfferTime",
                     width: 300
                 }, {
                     fieldLabel: '学历',
                     xtype: 'textfield',
                     name: "Education",
                     width: 300
                    
                 }, {
                     fieldLabel: '婚否',
                     xtype: 'textfield',
                     name: "IsMarry",
                     width: 300
                   
                 }, {
                     fieldLabel: '专业',
                     xtype: 'textfield',
                     name: "Professional",
                     width: 300
                 }, {
                     fieldLabel: '启用',
                     xtype: 'textfield',
                     name: "InUse",
                     width: 300
                 }, {
                     fieldLabel: '生日',
                     xtype: 'textfield',
                     name: "BirthDay",
                     width: 300
                 
                 }, {
                     fieldLabel: '备注',
                     xtype: 'textarea',
                     name: "Remark",
                     height: 150,
                     anchor: '95%'
                 } 
            ]}
           
        ], buttons: [{
            xtype: "button",
            text: "保存",
            style: "float:right"
        }, {
            xtype: "button",
            text: "取消",
            style: "float:right"
        }]
    });


    Ext.onReady(function () {
        Ext.QuickTips.init();
        new Ext.Viewport({
            title: "Viewport",
            layout: "border",
            defaults: {
                bodyStyle: "background-color: #FFFFFF;",
            },
            items: [
                        {
                            region: 'west',
                            title: '组织机构',
                            xtype: 'treepanel',
                            width: 200,
                            autoScroll: true,
                            loader: new Ext.tree.TreeLoader({
                                url: '/Api/Organization/GetOrganizationsAndUser?id=null'
                            }),
                            root: new Ext.tree.AsyncTreeNode({
                                expanded: true,
                            }),
                            rootVisible: false,
                            listeners: {
                                click: function (n) {
                                    var panel1 = Ext.getCmp("panel1");
                                    if (n.attributes.attributes.Type == "user") {
                                        form2.show();
                                        form1.hide();
                                    } else {
                                        form1.show();
                                        form2.hide();
                                    }
                                    panel1.doLayout();
                                }
                            }
                        },
                        {
                            region: "center",
                            id:"panel1",
                            split: true,
                            border: false,
                            collapsible: false,
                            xtype: "panel",
                            layout:"anchor",
                            autoScroll: true,
                            items:[form1,form2]
                            //items: [{
                            //    html: '<iframe id ="contentIframe" frameborder="0" height="100%" width="100%" src="/Admin/Organization/OrganizationManage"></iframe>'
                            //}]
                        }

            ]
        });
    });




</script>
















@*<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',title:'组织机构',split:true" style="width: 150px; overflow: hidden">
         <ul id="orgtree"></ul>
    </div>
    <div data-options="region:'center'"  style="overflow: hidden;">
         
        
        <div id="p" style="overflow: hidden;"></div>   
    </div>
</div>*@














@*<script type="text/javascript">
    $("#orgtree").tree({
        url: '/Api/Organization/GetOrganizationsAndUser?id=null',
        animate: true,
        onLoadSuccess: function () {
            $("#orgtree").tree("collapseAll");
        },
        onClick: function (node) {
            if(node.attributes.Type=="user")
                OpenPanel("/Admin/Organization/UserManage?id=" + node.id + "&type=" + node.attributes.Type);
            else 
                OpenPanel("/Admin/Organization/OrganizationManage?id=" + node.id + "&type=" + node.attributes.Type);
        }
    });

    OpenPanel("/Admin/Organization/OrganizationAdd");

    function OpenPanel(href) {
        $('#p').panel({
            fit: true,
            content: '<iframe id="orgiframe" scrolling="no" frameborder="0"  src="' + href + '" style="width:100%;height:100%;overflow:hidden"></iframe>',
        }); 
    }

   
</script>*@